@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss/theme";
@import "tailwindcss/variants";
@import "tailwindcss/colors";

@import "tailwindcss/animate"; /* se quiser usar animações */

:root {
  --radius: 0.625rem;
}

body {
  @apply bg-white text-gray-900 font-sans;
}

.dark body {
  @apply bg-gray-950 text-gray-100;
}
